<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Miguel Rodrigues Carrilho Borges">
    <title>$title$</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/posts.css">
</head>
<body>
    <span class="title">$title$</span>
    <div class="sub-header">
        <span class="date">$date$</span>
        $if(keywords)$
        <span class="keywords">Keywords: $keywords$</span>
        $endif$
    </div>
    <div class="content">
        $body$
    </div>
    $if(disclaimer)$
    <span class="disclaimer">$disclaimer$</span>
    $endif$
</body>
</html>